#about {
    background-color: whitesmoke;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
}

.about-top-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1.5rem 0 3rem 0;
}

.about-texts {
    text-align: left;
    margin: 1.5rem 7rem 2rem 7rem;
}