#about {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
}
.about-top-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1.5rem 0 5rem 0;
}
.about-top-section h1 {
    margin-bottom: 2.5rem;
}
.about-texts {
    text-align: left;
    margin: 1.5rem 4rem 2rem 4rem;
}