<section id="about">
    <div class="about-top-section">
        <h4>
            Söker du utvecklare till en MVP? Eller är du en nyexaminerad utvecklare?
        </h4>
        <h4>
            Då har du hittat rätt!</h4>
    </div>

    <div class="about-texts">
        <p>
            Studerande och nyexaminerade inom mjukvaruutveckling och angränsande
            områden upplever ofta svårigheter med att etablera sig på arbetsmarknaden,
            trots relevant utbildning. Samtidigt står många nystartade företag och
            småföretag i Sverige inför utmaningen att snabbt och kostnadseffektivt bygga MVP:er
            (Minimum Viable Products) i uppstartsfasen där resurser ofta är begränsade.
        </p>

        <p>
            Devella fungerar som en bro mellan utbildning och arbetsliv, och erbjuder
            en konkret och ömsesidig möjlighet för både individer och företag
            att hitta varandra. Den kan även utgöra ett verktyg för att underlätta
            kontakt mellan studerande och arbetsgivare i samband med praktik eller
            LIA (Lärande i Arbete).
        </p>

        <p>
            Plattformen gör det möjligt för juniora utvecklare att synliggöra sina färdigheter,
            och erfarenheter genom en personlig profil, vilket motsvarar ett CV.
            Företag kan enkelt söka och filtrera bland profilerna för att hitta kompetens
            utefter specifika behov för sina tekniska projekt. Därefter kan företaget kontakta
            utvecklaren direkt genom plattformen för att diskutera ett potentiellt samarbete.
        </p>
    </div> 
</section>