#home-landingpage {
    height: 100vh;
    background-color: whitesmoke;
}


.home-title-wrapper {
    position: relative;
    overflow: hidden;
    z-index: 1;
    margin-top: 1rem;
    max-width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    background-image: url('images/annie-spratt-QckxruozjRg-unsplash.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

/* Makes image blurry */
.home-title-wrapper::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: inherit;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(5px);
    z-index: -1;
}

.text-block {
    width: 60%;
}

.right-positioned {
    text-align: right;
}

.right-positioned a {
    color: white;
        font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
}

.right-positioned a:hover {
    text-decoration: underline;
}

.home-subheading {
    margin: 1rem 0;
    font-size: 1.2rem;
}