@page "/"

<PageTitle>Home</PageTitle>

<section>
    <div class="home-title-wrapper">
        <h1>
            Devella - Bron mellan ny talang och startups
        </h1>
        <p>
            Genom att använda Devella kan företag snabbt och kostnadseffektivt
            hitta och rekrytera talanger till sina MVP-projekt, samtidigt som
            studerande och nyexaminerade utvecklare får en plattform för att
            visa upp sina färdigheter och få värdefull erfarenhet i arbetslivet.
@*             Devella är en plattform som kopplar samman studerande och nyexaminerade
            utvecklare med företag som söker talanger för att bygga sina MVP:er. *@
        </p>
        <div class="right-positioned">
            <a href="/about">Läs mer om Devella</a>
        </div>
    </div>
</section>


