
#login {
    padding-top: 4rem;
    padding: 2rem;
    padding-left: 20rem;
    padding-right: 20rem;
}

    #login h1 {
        text-align: center;
    }

.btn-login {
    color: #fff;
    background-color: #154A38;
    border-color: #154A38;
    border-radius: 10px;
    height: 2.8rem;
    width: 100%;
    line-height: 1.8rem;
    padding: 0 1rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: JetBrainsMono-regular;
    font-size: large;
    transition: box-shadow 0.2s ease;
}

    .btn-login:hover {
        background-color: #0b3023;
        border-color: #0b3023;
        color: #fff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3) !important;
    }

    .btn-login:focus {
        outline: none;
        box-shadow: none;
    }

.btn-login-container {
    display: flex;
    justify-content: center;
    width: 100%;
}
