
#login {
    padding-top: 4rem;
    padding: 2rem;
    padding-left: 20rem;
    padding-right: 20rem;
}

#login h1 {
    text-align: center;
}

.btn-login-container {
    display: flex;
    justify-content: center;
    width: 100%;
}
