.navbar-toggler {
    appearance: none;
    cursor: pointer;
    width: 3.5rem;
    height: 2.5rem;
    color: white;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
}

    .navbar-toggler:checked {
        background-color: rgba(255, 255, 255, 0.5);
    }

.navbar-brand {
    font-size: 1.1rem;
}

.nav-item {
    font-size: 0.9rem;
    margin: 0;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
}

.nav-scrollable {
    display: none;
}

.navbar-hidden {
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
}

.navbar-toggler:checked ~ .nav-scrollable {
    display: block;
}

@media (min-width: 768px) {
    .navbar-toggler {
        display: none;
    }

    .nav-scrollable {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
