#account-info-dev {
    background-color: whitesmoke;
    padding-top: 30px;
    padding-left: 100px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100vh;
}
.left-column,
.right-column {
    display: flex;
    flex-direction: column;
    width: 100%;
}

@media (max-width: 768px) {
    #account-info-dev {
        flex-direction: column;
    }

    .left-column,
    .right-column {
        width: 100%;
    }
}
