#explore-container {
    height: 100vh;
    width: 100%;
    background-color: whitesmoke;
}

.search-filter-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 2rem 1rem;
    gap: 2rem;
}

.search-container {
    display: flex;
    align-items: center;
    position: relative;
    flex: 1;
    max-width: 500px;
}

.search-input {
    width: 100%;
    padding-right: 2.8rem;
    border-radius: 25px;
    padding-left: 1rem;
}

.search-icon {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: steelblue;
    color: white;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
}

.filter-icon {
    display: flex;
    cursor: pointer;
}

.filter-icon .dropdown-menu {
    margin-left: 3rem;
    background-color: white;
    display: block;
    border: 1px solid #ccc;
    min-width: 160px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.filter-icon i {
    font-size: 35px;
    color: steelblue;
}

.profile-card {
    width: 100%;
    max-width: 300px;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #4682b4a6;
    color: white;
}

@media (max-width: 768px) {
    .search-container {
        width: 250px;
        margin-top: 10px;
    }
}