#comp-reg-form h5 {
    text-align: center;
}
#comp-reg-form p {
    text-align: center;
}
.registration-buttons {
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
    justify-content: space-between;
}
